@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

li {
    list-style-type: none;
}

button {
    outline: none;
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}


.container {
    background-color: #1B1B1B;
    max-width: 1920px;
    margin: 0 auto;
}

.main__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 30px;

    .form__title {
        font-size: 40px;
        color: white;
    }

    .form__block {
        display: flex;
        align-items: center;
        flex-direction: column;

        .block__text {
            color: white;
            font-size: 30px;
        }

        .block__input {
            font-size: 20px;
        }
    }

    .form__profile {
        background-color: white;
        padding: 15px 35px;
        font-size: 25px;
        color: black;
    }
}