@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

li {
    list-style-type: none;
}

button {
    outline: none;
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

.item-page {
    .container {
        max-width: 1920px;
        margin: 0 auto;
    }

    .main__container {
        background-color: #1B1B1B;
        padding-left: 130px;

        * {
            color: white;
        }

        .main__back {
            padding: 43px 0;
            display: flex;
            align-items: center;
            gap: 43px;

            .back__title {
                font-size: 35px;
            }
        }

        .main__content {
            .content__galery {
                display: flex;
                flex-direction: row;
                align-items: center;

                .galery__left {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 40px;

                    .galery__left-img {
                        z-index: 100;
                    }

                    .galery__left-select {
                        background-color: #3533A1;
                        font-size: 30px;
                        border-radius: 5px;
                    }

                    .galery__left-rewiews {
                        font-size: 23px;
                    }
                }

                .galery__right {
                    padding-left: 15px;

                    .galery__right-title {
                        padding: 0 0 48px 160px;
                        font-size: 40px;
                    }

                    .galery__right-tags {
                        display: flex;
                        flex-direction: row;
                        flex-wrap:wrap;
                        align-items: center;
                        gap: 22px;
                        padding-bottom: 93px;

                        .tag {
                            font-size: 35px;
                            padding: 9px 67px;
                            background-color: #3533A1;
                            border-radius: 5px;
                        }
                    }

                    .galery__right-slider {
                        display: flex;
                        flex-direction: row;
                        max-width: 60vw;
                        overflow: hidden;

                        .swiper-wrapper {
                            z-index: 0;
                            display: flex;
                            flex-direction: row;
                            width: auto !important;
                        }
                    }

                    .galery__right-choose {
                        margin-top: 90px;
                        background-color: #3533A1;
                        width: 820px;
                        padding-left: 36px;

                        .choose__title {
                            font-size: 35px;
                            padding: 17px 0 9px 0;
                        }

                        .choose__select {
                            width: 518px;
                            height: 72px;
                            color:black;
                        }

                        .choose__payment {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            justify-content: space-between;
                            border-radius: 5px;

                            .payment__money {
                                font-size: 35px
                            }

                            .payment__button {
                                background-color: #1B9C10;
                                padding: 19px 65px;
                                margin: 18px 20px 22px 0;
                                font-size: 35px;
                            }
                        }
                    }
                }
            }

            .content__text {
                display: flex;
                flex-direction: column;
                gap: 55px;

                .content__text-first {
                    margin-top: 53px;
                    display: flex;

                    .first__title {
                        font-size: 32px;
                        margin-right: 11px;
                    }

                    .first__sys {
                        display: flex;
                        gap: 81px;

                        .width {
                            max-width: 479px;
                        }

                        * {
                            font-size: 25px;
                        }
                    }
                }

                .content__text-second {
                    display: flex;
                    flex-direction: row;

                    .second__title {
                        font-size: 32px;
                        margin: 0 125px 0 104px;
                    }

                    .second__text {
                        font-size: 25px;
                        max-width: 625px;
                    }
                }

                .content__text-third {
                    display: flex;
                    flex-direction: row;

                    .third__title {
                        font-size: 32px;
                        padding-right: 30px;
                    }

                    .third__text {
                        max-width: 647px;
                        font-size: 25px;
                        margin-bottom: 96px;
                    }
                }
            }
        }
    }

    @media (max-width:1919px) {

        .main__container {
            .main__content {
                .content__galery {
                    .galery__right {
                        .galery__right-tags {
                            flex-wrap: wrap;

                        }

                        .galery__right-choose {
                            width: 75%;

                            select {
                                color: black;
                                font-size: 25px;

                                option {
                                    color: black;
                                }
                            }
                        }

                        .galery__right-slider {
                            max-width: 55vw;
                        }
                    }
                }

                .content__text {
                    .content__text-first {
                        .first__title {
                            font-size: 30px;
                            text-align: center;
                        }

                        .first__sys {
                            margin-right: 15px;

                            * {
                                font-size: 22px;
                            }
                        }
                    }

                    .content__text-second {
                        .second__title {
                            font-size: 30px;
                        }

                        .second__text {
                            font-size: 22px;
                        }
                    }

                    .content__text-third {
                        .third__title {
                            font-size: 30px;
                            text-align: center;
                        }

                        .third__text {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:1340px) {
        .main__container {
            padding-left: 0px;

            .main__back {
                padding-left: 100px;
            }

            .main__content {
                .content__galery {
                    flex-direction: column;
                    align-items: center;
                    gap: 40px;

                    .galery__right {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 30px;

                        .galery__right-title {
                            padding: 0;
                            text-align: center;
                        }

                        .galery__right-slider {
                            max-width: 90vw;

                        }

                        .galery__right-choose {
                            margin-top: 0;
                        }

                        .galery__right-tags {
                            padding-bottom: 0;
                            padding-left: 50px;
                        }
                    }
                }

                .content__text {
                    .content__text-first {
                        padding-right: 20px;

                        .first__sys {
                            gap: 30px;
                        }
                    }

                    .content__text-second {
                        .second__title {
                            margin: 0 20px 0 30px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:900px) {
        .main__container {
            .main__back {
                padding: 43px 0 43px 10vw;
            }

            .main__content {
                .content__galery {
                    .galery__right {
                        padding-left: 0;

                        .galery__right-tags {
                            .tag {
                                font-size: 25px;
                            }
                        }

                        .galery__right-slider {
                            max-width: 97vw;
                        }

                        .galery__right-choose {
                            .choose__select {
                                width: auto;
                            }

                            .choose__payment {
                                .payment__money {
                                    font-size: 25px;
                                }

                                .payment__button {
                                    padding: 14px 45px;
                                    font-size: 25px;
                                }

                                * {
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }

                .content__text {
                    .content__text-first {
                        .first__title {
                            font-size: 25px;
                        }

                        .first__sys {
                            flex-direction: column;

                            * {
                                font-size: 18px;
                            }
                        }

                        .width {
                            max-width: auto;
                        }
                    }

                    .content__text-second {
                        .second__title {
                            font-size: 25px;
                        }

                        .second__text {
                            font-size: 18px;
                            margin-right: 10px
                        }
                    }

                    .content__text-third {
                        .third__title {
                            font-size: 25px;
                        }

                        .third__text {
                            font-size: 18px;
                            margin-right: 10px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:500px) {
        .main__container {
            .main__back {
                padding: 20px 0;

                .back__title {
                    font-size: 25px;
                }
            }

            .main__content {
                .content__galery {
                    .galery__left {
                        .galery__left-img {
                            .left-img {
                                width: 90vw;
                            }
                        }

                        .galery__left-select {
                            max-width: 90vw;
                        }

                        .galery__left-rewiews {
                            text-align: center;
                        }
                    }

                    .galery__right {
                        .galery__right-title {
                            font-size: 30px;
                        }

                        .galery__right-tags {
                            .tag {
                                padding: 9px 37px;
                            }
                        }

                        .galery__right-choose {
                            padding-left: 16px;

                            .choose__payment {
                                flex-direction: column;

                                .payment__money {
                                    margin: 15px 0 0 0;
                                }

                                .payment__button {
                                    margin: 10px 0;
                                }
                            }
                        }
                    }
                }

                .content__text {
                    .content__text-first {
                        .first__title {
                            font-size: 21px;
                        }

                        .first__sys {
                            padding-right: 0;

                            * {
                                font-size: 16px;
                            }
                        }
                    }

                    .content__text-second {
                        .second__text{
                            max-width: 50vw;
                            *{
                                img{
                                    max-width: 50vw;
                                }
                            }
                        }
                        .second__title {
                            margin: 0 10px;
                        }
                    }

                    .content__text-third {
                        .third__title {
                            padding: 0 15px 0 0;
                        }
                    }
                }
            }
        }
    }
}