@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

li {
    list-style-type: none;
}

.active {
    background-color: #3533A1 !important;
}

button {
    outline: none;
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.profile-page {
    .main__container {
        background-color: #1B1B1B;
        display: flex;
        flex-direction: column;

        .main__text {
            display: flex;
            flex-direction: column;
            margin-left: 130px;
            padding-top: 80px;
            margin-bottom: 31px;
            gap: 29px;

            .text__info,
            .text__name {
                color: white;
                font-size: 45px;
            }
        }

        .main__order {
            align-self: center;
            display: flex;
            flex-direction: column;
            width: 60vw;
            gap: 4px;
            margin-bottom: 25px;

            .order__buttons {
                display: flex;
                justify-content: space-between;

                .order__button {
                    font-size: 45px;
                    padding: 23px 11px;
                    background-color: #FFFFFF;
                    cursor: pointer;
                }
            }

            .order__list {
                display: flex;
                flex-direction: column;
                background-color: #FFFFFF;
                padding: 46px 0 32px 32px;
                gap: 41px;

                .list__item {

                    .item__title,
                    .item__money {
                        font-size: 30px;

                    }
                }
            }
        }
    }

    @media (max-width: 1340px) {
        .main__container {
            .main__order {
                .order__buttons {
                    .order__button {
                        font-size: 35px;
                    }
                }
            }
        }
    }

    @media (max-width: 900px) {
        .main__container {
            .main__order {
                .order__buttons {
                    .order__button {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    @media (max-width: 500px) {
        .main__container {
            .main__text {
                margin-left: 50px;
            }

            .main__order {
                .order__buttons {
                    .order__button {
                        font-size: 15px;
                        padding: 23px 5px;
                    }

                    .order__list {
                        .list__item {

                            .item__title,
                            .item__money {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}