@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

li {
    list-style-type: none;
}

button {
    outline: none;
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.warning-page {
    .main__container {
        background-color: #1B1B1B;

        .main__warning {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 95px 15px 60px 45px;

            .warning__title {
                font-size: 45px;
                color: white;
            }

            .warning__text {
                font-size: 35px;
                text-align: center;
                color: white;
            }

            .warning__button {
                border: 1px solid white;
                padding: 15px 25px;
                background-color: white;
                cursor: pointer;

            }
        }
    }
}