@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.hidden {
    display: none !important;
}

li {
    list-style-type: none;
}

button {
    outline: none;
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

.catalog-page-game {
    .container {
        max-width: 1920px;
        margin: 0 auto;
    }

    .main__container {
        background-color: #1B1B1B;
        display: flex;
        flex-direction: column;

        .top {
            display: flex;
            flex-direction: column;
            padding-top: 72px;
            display: flex;

            .top__title {
                font-size: 50px;
                color: white;
                margin-bottom: 32px;
                align-self: center;
            }

            .top__block {
                display: flex;
                flex-wrap: wrap;
                gap: 206px;
                justify-content: center;
                align-items: start;

                .row__item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 25px;
                    max-width: 280px;

                    .item__img {
                        width: 100%;
                        object-fit: cover;
                    }

                    .item__title {
                        font-size: 35px;
                        color: white;
                        text-align: center;
                        font-weight: 500;
                    }

                    .item__price {
                        display: flex;
                        align-items: center;
                        gap: 29px;

                        .price-now {
                            font-size: 35px;
                            color: white;
                        }

                        .price-old {
                            font-size: 28px;
                            color: #B0B0B0;
                        }
                    }
                }
            }

        }
    }

    @media (max-width:1919px) {
        .main__container {
            .top {
                margin-left: 0;
                display: flex;
                flex-direction: column;

                .top__title {
                    align-self: center;
                }

                .top__block {
                    align-self: center;
                    gap: 100px;
                    margin-left: 3vw;
                    margin-right: 3vw;
                }
            }

            .bottom {
                margin-top: 50px;
                margin-left: 0;
                padding-left: 0;
                display: flex;
                flex-direction: column;

                .bottom__title {
                    gap: 50vw;
                    align-self: center;
                    max-width: 90vw;

                    .title__text {
                        font-size: 40px;
                    }
                }

                .bottom__block {
                    .block__row {
                        gap: 0;
                        justify-content: space-around;
                    }
                }

            }
        }
    }

    @media (max-width:1340px) {
        .main__container {
            .top {
                .top__title {
                    font-size: 35px;
                }

                .top__block {

                    .row__item {
                        max-width: 150px;

                        img {
                            max-width: 210px;
                        }

                        .item__title {
                            font-size: 30px;
                        }

                        .item__price {
                            .price-now {
                                font-size: 28px;
                            }

                            .price-old {
                                font-size: 20px;
                            }
                        }

                    }
                }

                .bottom {
                    .bottom__title {
                        gap: 40vw;

                        .title__text {
                            font-size: 30px;
                        }
                    }

                    .bottom__block {
                        .row__item {
                            img {
                                max-width: 210px;
                            }

                            .item__title {
                                font-size: 30px;
                            }

                            .item__price {
                                .price-now {
                                    font-size: 28px;
                                }

                                .price-old {
                                    font-size: 20px;
                                }
                            }
                        }

                    }
                }
            }
        }
    }

    @media (max-width:900px) {
        .main__container {
            .top {
                .top__block {
                    gap: 50px;

                    .row__item {
                        padding: 10px 30px;

                        img {
                            max-width: 150px;
                        }

                        .item__title {
                            font-size: 25px;
                            font-weight: 300;
                        }

                        .item__price {
                            gap: 20px;

                            .price-now {
                                font-size: 23px;
                            }

                            .price-old {
                                font-size: 17px;
                            }
                        }
                    }

                }
            }

            .bottom {
                .bottom__title {
                    gap: 18vw;

                    .title__text {
                        text-align: center;
                        font-size: 25px;
                    }

                    .title__arrow {
                        gap: 35px;

                        img {
                            max-width: 55px;
                        }
                    }
                }

                .bottom__block {
                    .block__row {
                        gap: 50px;
                        flex-wrap: wrap;
                        justify-content: space-evenly;

                        .row__item {
                            padding: 10px 30px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:500px) {
        .main__container {
            .top {
                .top__title {
                    font-size: 30px;
                }

                .top__block {
                    .row__item {
                        padding: 5px 10px;

                        img {
                            max-width: 120px;
                        }

                        .item__title {
                            font-size: 22px;
                        }

                        .item__price {
                            gap: 20px;

                            .price-now {
                                font-size: 20px;
                            }

                            .price-old {
                                font-size: 14px;
                            }
                        }
                    }

                    margin-left:1vw;
                    margin-right:1vw;
                }
            }

            .bottom {
                .bottom__title {
                    flex-direction: column;
                    gap: 15px;

                    .title__text {
                        text-align: center;
                    }
                }
            }
        }
    }
}

