.logo__name {
    font-size: 50px;
    color: white;
    padding: 27px 0;
}
.footer__container{
    padding: 0 0 0 120px;
    background-color: #282828 !important;
    *{
        color:white;
    }
    .footer__info{
        padding-top: 52px;
        display: flex;
        flex-direction: row;
        gap: 178px;
        
    }
}
.footer__list{
    display: flex;
    flex-direction: column;
    .footer__el{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 12px;
        .el__text{
            font-size: 35px;
        }
    }
}
.title{
    font-size: 45px;
    padding-bottom: 43px;
}

@media (max-width:1919px){

}

@media (max-width:1340px){
.footer__container{
    padding: 0 0 0 10vw;
    .footer__info{
        gap: 20vw;
    }
}
.footer__list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    .footer__el{
        .el__text{
            font-size:25px;
            max-width: 214px;
        }
    }
}
.title{
    font-size:30px;
}
}

@media (max-width:900px){
    .footer__container{
    padding: 0;
    .footer__info{
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }
}
}

@media (max-width:500px){
    
}